.app-container {
    background-color: #b4b3ff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;  
    overflow: hidden;
    padding: 20px;
    border-radius: 25px;
}